.listaProductos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    
}

#.imagenProducto {
    max-width: 150px;
    height: auto;
}

#.descripcionProducto {
    margin-top: 10px;
    font-size: 14px;
    color: var(--oscuro);
}